<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--<suite name="Selenium Test Suite" parallel="methods" thread-count="2">-->
<suite name="Selenium Test Suite" parallel="false">

    <test name="Homepage Test">
        <classes>
            <class name="gr.aueb.cf.HomeNavbarTest"/>
            <!--            <class name="com.example.changebook.selenium.RegisterPageTest"/>-->
            <!--            <class name="com.example.changebook.selenium.LoginTest"/>-->
            <class name="gr.aueb.cf.RegisterTest"/>

        </classes>
    </test>
    <test name="Login Test">
        <classes>
            <!--            <class name="com.example.changebook.selenium.HomeNavbarTest"/>-->
            <class name="gr.aueb.cf.LoginTest"/>
        </classes>
    </test>
    <!--    <test name="Register Person test">-->
    <!--        <classes>-->
    <!--            &lt;!&ndash;            <class name="com.example.changebook.selenium.HomeNavbarTest"/>&ndash;&gt;-->
    <!--            <class name="com.example.changebook.selenium.RegisterPageTest"/>        </classes>-->
    <!--    </test>-->
</suite>