<p>search-book works!</p>


<form [formGroup]="form" class="d-flex mt-5 flex-column ">
  <mat-form-field>
    <mat-label>Select search</mat-label>
    <mat-select type="text" formControlName="searching">
    <mat-option value="others"
    >search for exchange</mat-option
    >
    <mat-option value="stores">Search in stores</mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            title
        </mat-label>
        <input
        matInput
        type="text"
        formControlName="title" 
       />
       @if(form.get('title').invalid && form.get('title').touched){
        <mat-error>username is required</mat-error>
       }
    </mat-form-field>
</form>
<button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()">Search
</button>
@if(this.form.get('searching').value==='others'){
  <table class="table table-bordered table-striped text-wrap">
      <thead>
        <tr class="align-middle text-center small">
          <th>Interest</th>
          <th role="button" >
            username
          </th>
          <th role="button" >
            Title book
          </th>
          <th role="button" >author</th>
        </tr>
      </thead>
      <tbody>
      
        @for (bookWithPersons of booksWithPersons; track bookWithPersons){
          @for(person of bookWithPersons.persons; track person){
            <!--a book with title starting with initials can have many persons-->
            <tr role="button" class="align-middle">
              <td class="w-10"><mat-icon (click)="interest(bookWithPersons,person,$event)">thumb_up</mat-icon></td>
              <!-- <td><a class="text-primary">{{person.user.id}}</a></td> -->
              <td><a class="text-primary">{{person.firstname}} {{person.lastname}}</a></td>
              <td>{{bookWithPersons.title}}</td>
              <td>{{bookWithPersons.author.name}}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  }@else {
    <app-books-in-stores></app-books-in-stores> 
  }