<h1>Ενημέρωση στοιχείων προφίλ</h1>
<span></span>
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="d-flex flex-column gap-3 w-50">
  <div class="form-group">
    <label for="name">name:</label>
    <input
      type="text"
      id="name"
      class="form-control"
      formControlName="name" />
  </div>
  <div class="form-group">
    <label for="address">address</label>
    <input
      type="text"
      id="address"
      class="form-control"
      formControlName="address" />
  </div>
  <button
  [disabled]="!form.valid"
    type="submit"
    class="btn btn-primary">
    update
  </button>
  
  @if (invalidUpdate) {
    <div class="alert alert-danger">
      <strong>Error in update your personal elements. Try again</strong>
    </div>
  }@else {
    @if(clicked){
      <p class="text-success alert text-wrap alert-success">Update succesfully name:{{updatedName}}, address:{{updatedAddress}}</p>
    }
  }
</form>