<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite">
    <test name="Homepage Test">
        <classes>
            <class name="com.example.changebook.HomepageTest"/> <!-- Change to your package path -->
        </classes>
    </test>
</suite>