<!-- @if(booksWithPersons){
<table class="table table-bordered table-striped text-wrap">
    <thead>
      <tr class="align-middle text-center small">
        <th>Interest</th>
        <th role="button" >
          username
        </th>
        <th role="button" >
          Title book
        </th>
        <th role="button" >author</th>
      </tr>
    </thead>
    <tbody>
    
      @for (bookWithPersons of booksWithPersons; track bookWithPersons){
        @for(person of bookWithPersons.persons; track person){

          <tr role="button" class="align-middle">
            <td class="w-10"><mat-icon (click)="interest(bookWithPersons,person,$event)">thumb_up</mat-icon></td>
          
            <td><a class="text-primary">{{person.firstname}} {{person.lastname}}</a></td>
            <td>{{bookWithPersons.title}}</td>
            <td>{{bookWithPersons.author.name}}</td>
          </tr>
        }
      }
    </tbody>
  </table>
}@else {
    <h1 class="text-body-emphasis"> No found books starting with this title</h1>
} -->
