<form [formGroup]="form" class="d-flex  flex-column ">
    <mat-form-field>
        <mat-label>
            title
        </mat-label>
        <input
        matInput
        type="text"
        formControlName="title" 
       />
        @if(form.get('title').invalid && form.get('title').touched){
            <mat-error>title is required</mat-error>
           }
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Author name
            </mat-label>
            <input
            matInput
            type="text"
            formControlName="name" 
           />
           @if(form.get('name').invalid && form.get('name').touched){
            <mat-error>name is required</mat-error>
           }
        </mat-form-field>
</form>
    <button
    [disabled]="form.invalid"
        mat-flat-button
        color="primary"
        (click)="onSubmit(form.value)">Add +
    </button>

