@if(registrationStatus.message === "Not Attempted yet"){
    <form [formGroup]="form" class="d-flex mt-5   flex-column ">
        <mat-form-field>
            <mat-label>
                name
            </mat-label>
            <input
            matInput
            type="text"
            formControlName="name" 
           />
           @if(form.get('name').invalid && form.get('name').touched){
            <mat-error>name is required</mat-error>
           }
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                address
            </mat-label>
            <input
            matInput
            type="text"
            formControlName="address" 
           />
           @if(form.get('address').invalid && form.get('address').touched){
            <mat-error>address is required</mat-error>
           }
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                username
            </mat-label>
            <input
            matInput
            type="text"
            formControlName="username" 
           />
           @if(form.get('username').invalid && form.get('username').touched){
            <mat-error>username is required</mat-error>
           }
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Password
            </mat-label>
            <input
            matInput
            type="password"
            formControlName="password" 
           />
           @if(form.get('password').invalid && form.get('password').touched){
            <mat-error>password is missing or invalid</mat-error>
           }
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Confirm Password
            </mat-label>
            <input
            matInput
            type="password"
            formControlName="confirmPassword" 
           />
           @if(form.get("confirmPassword").hasError("passwordMismatch")){
            <mat-error>Password do not match</mat-error>
           }@else {
           @if(
            form.get('confirmPassword').invalid && form.get('confirmPassword').touched){
            <mat-error>password is missing or invalid</mat-error>
           }
        }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select type="text" formControlName="role">
            <mat-option value="PERSONAL"
            >Personal User</mat-option
            >
            <mat-option value="STORE">Store User</mat-option>
            </mat-select>
            </mat-form-field>
    </form>
    <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="onSubmit(form.value)">Register
    </button>
    }@else {
        @if(registrationStatus.succes){
            <div class="alert alert-success mt-2 w-50 text-wrap">
                <span>Success: {{registrationStatus.message}}</span>
            </div>
            <button
            mat-flat-button
            color="primary"
            class="mt-2 "
            (click)="navigateLogin()">login
            </button>
        }@else {
            <div class="alert alert-danger mt-2 w-50 text-wrap">{{registrationStatus.message}}</div>
            <button
            mat-flat-button
            color="primary"
            class="mt-2 "
            (click)="registerUser()">
                Try register again
            </button>
        }
    }